html, body {
  height: 100%;
  margin: 0px;
  background-image: url('/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Jost', sans-serif;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.list-group-item {
  font-size: 20px;
  letter-spacing: 4px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.card {
  margin: 10px;
}

.eat {
  height: 50px;
  width: 60px;
}

@media only screen and (max-width: 989px) {

  body, html {
    height: 100%;
    margin: 0px;
    background-image: url('/assets/images/frog1.jpg');
    background-position: center;
    background-repeat: inherit;
    background-size: cover;
    font-family: 'Jost', sans-serif;
  }

}