html, body {
  height: 100%;
  margin: 0px;
  background-image: url('/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Jost', sans-serif;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.list-group-item {
  font-style: bold;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.frog {
  height: 200px;
  width: 200px;
}

.add {
  margin: 10px;
}

.disp-card {
  margin-bottom: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 40px;
}